@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
         url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroylight.woff2') format('woff2'),
         url('../fonts/gilroylight.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('fonts/opensans-light-webfont.woff2') format('woff2'),
         url('fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: lighter;
	color: #000000;
	letter-spacing: 0.01em;
	min-width: 1200px;
	background-color: #ffffff;
}

h1 {
	font-family: "Gilroy", sans-serif;
	font-size: 47px;
	line-height: 120%;
	font-weight: bolder;
	letter-spacing: 0.01em;
}

h2 {
	font-family: "Gilroy", sans-serif;
	font-size: 17px;
	line-height: 120%;
	font-weight: bolder;
}

.container {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}


/**** header  ****/

.main-header {
	background-color: #ffe27f;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	position: relative;
	width: 1040px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto; 
	padding-top: 40px; 
}

.header-top {
	position: absolute;
	top: -29px;
	left: -2px;
}

.header-logo {
	float: left;
    text-decoration: none;
	font-family: "Gilroy", "Arial Black", sans-serif;
    text-transform: uppercase;
	font-size: 48px;
	font-weight: bold;
	line-height: 120%;
    letter-spacing: 0.01em;
    color: #000000;
}

.header-logo:hover {
	color: #454545;
}

.header-logo:active {
	color: #676767;
}

.header-middle {
	font-size: 15px;
	line-height: 36px;
}

.header-middle a {
	display: inline-block;
	text-decoration: none;
	color: #000000;
}

.header-search {
	float: left;
	width: 400px;
	background-color: green;
	opacity: 0.6;
}

.header-search input:hover {
	opacity: 0.6;
}

.header-search input:focus {
	border-bottom: 2px solid #000000;
	opacity: 1;
}

.user-block {
	float: left;
	max-width: 400px;
	margin-left: 138px;
}

.user-block a {
	display: inline-block;
}

.header-login {
	position: relative;
	padding-left: 30px;
}

.header-compare,
.header-cart {
	position: relative;
}

.header-actions {
	float: right;
	max-width: 260px;
	text-align: right;
}

.header-actions a {
	padding-left: 60px;
}

.header-login::before {
	content:"";
	position: absolute;
	top: 12px;
	left: 4px;
	width: 12px;
	height: 12px;
	background: transparent url("../img/user-dark.png") no-repeat;
}

.header-compare::before {
	content:"";
	position: absolute;
	top: 14px;
	left: 42px;
	width: 12px;
	height: 12px;
	background: transparent url("../img/compare-dark.png") no-repeat;
}

.header-cart::before {
	content:"";
	position: absolute;
	top: 12px;
	left: 38px;
	width: 12px;
	height: 12px;
	background: transparent url("../img/cart-dark.png") no-repeat;
}

.header-login:hover, 
.header-login:hover::before,
.header-compare:hover, 
.header-compare:hover::before,
.header-cart:hover, 
.header-cart:hover::before {
	opacity: 0.6;
}

.header-login:active, 
.header-login:active::before,
.header-compare:active, 
.header-compare:active::before,
.header-cart:active, 
.header-cart:active::before {
	opacity: 0.3;
}


.header-bottom {
	margin: 0;
	padding: 0;
	padding-bottom: 150px;
}

.header-menu {
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: top;
    list-style: none;
    font-size: 0;
}

.header-menu > li {
	position: relative;
    display: inline-block;
    padding-top: 40px;
    padding-left: 40px;
}

.header-menu > li:first-child {
    float: left;
    padding-left: 0;
}

.header-menu > li:last-child {
    float: right;
    padding-left: 100px;
    padding-right: 0px;
}

.header-menu > li > a {
    display: block;
    color: #000000;
    text-decoration: none;
	font-family: "Gilroy", sans-serif;
    text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	line-height: 120%;
    letter-spacing: 0.2em;
}

.header-menu a:hover {
    opacity: 0.6;
}
.header-menu a:active {
    opacity: 0.3;
}

.folding-menu {
	color: #bda762;
	background-image: url("../img/plus.png");
	background-repeat: no-repeat;
}

.header-menu a:hover .folding-menu {
	color: #d3bb6c;
}

.header-menu a:active .folding-menu {
	color: #e9ce75;
}

.header-sub-menu {
    position: absolute;
    left: -60px;
    top: 90px;
    margin: 0;
    padding: 0 60px;
    list-style: none;
	background-color: #ffe393;
	width: 1040px;
	text-align: left;
}

.header-sub-menu > li {
	display: inline-block;
	width: 200px;
	margin-right: -4px;
    padding-bottom: 20px;
	vertical-align: top;
}

.header-sub-menu > li:first-child{
    padding-right: 40px;
}

.header-sub-menu a {
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	font-weight: lighter;
	letter-spacing: 0.01em;
	color: #000000;
}

.header-sub-menu-column {
	margin: 0;
	margin-top: -10px;
	padding: 0;
    list-style: none;
}

.header-sub-menu-column li {
	display: block;
	vertical-align: top;
}

/** footer **/

.main-footer {
	background-color: #444444;
}

.footer-top {
	background-color: red;
	padding: 0 20px;
	padding-top: 40px;
	margin-bottom: 40px;
}

.footer-logo {
	float: left;
	width: 260px;
}

.footer-actions {
	float: right;
	width: 360px;
}

.footer-middle {
	background-color: yellow;
	padding: 0px 20px;
	margin-bottom: 40px;
}

.footer-address {
	float: left;
	width: 260px;
}

.footer-menu {
	float: left;
	width: 560px;
}

.footer-phone {
	float: right;
	width: 180px;
}

.footer-bottom {
	background-color: green;
	padding-right: 20px;
	padding-left: 500px;
	margin-bottom: 65px;
}

.footer-social {
	float: left;
	width: 200px;
}

.footer-copyright {
	float: right;
	width: 60px;
}

/** INDEX **/

/** slider **/

.goods-slider {
	position: relative;
 	margin-bottom: 90px;
 	background-color: blue;
}

.goods-selector {
	position: absolute;
	right: 100px;
	bottom: 100px;
	z-index: 1000;
	text-align: center;
}

.goods-selector i {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 11px;
	border: 3px solid #000000;
	opacity: 0.3;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.goods-selector i:hover{
	opacity: 0.4;
}

.goods-selector .active{
	opacity: 1;
}

.goods-slider-list {
 	width: 1160px;
}

.goods-slide {
	position: absolute;
	top: -215px;
	padding: 0 50px;
	width: 1060px;
	overflow: hidden;
}

.goods-slide figure {
	float: left;
	width: 400px;
	background-color: 
}

.goods-slide-number {
	position: absolute;
	top:-175px;
	right: 45px;
	font-family: "Gilroy", "Arial Black", sans-serif;
	font-size: 179.2px;
	font-weight: bolder;
	color: #ffffff;
	line-height: 172.2px;
	letter-spacing: 0.01em;
}

.goods-slide-name {

}

.goods-description  {
	float: right;
	width: 500px;
	margin: 0;
	padding-top: 45px;
}


./** main catalog **/ 

.main-catalog-list {
	background-color: brown;
}

.main-catalog-list li {
	display: inline-block;
	width: 160px;
	margin-top: 0px;
	margin-right: 20px;
}

.main-catalog-list li:last-child {
	margin-right: : 0px;
}

.main-catalog-item-icon {
	display: block;
	width: 160px;
	height: 160px;
	background-color: #ffe27f;
	margin-bottom: 40px;
}

/** services **/

.services {
	background-color: #e6e6e6;
	margin-bottom: 90px;
}

.services-menu {
	float: left;
	width: 280px;
}

.services-description {
	float: right;
	width: 760px;
}

/** brands **/

.brands-list {
	margin-bottom: 100px;
	background-color: purple;
}

.brands-list img {
	display: inline-block;
	margin-right: 40px;
}

.brands-list img:last-child {
	margin-right: 0px;
}


/** about us & contacts **/

.about-us {
	float: left;
	width: 460px;
}

.contacts {
	float: right;
	width: 560px;
}


/** CATALOG **/

.filter {
	float: left;
	width: 300px;
	background-color: #efefef;
}

.catalog {
	float: right;
	width: 760px;
}

.sort {
	background-color: pink;
}

.catalog-items-list {
	background-color: blue;
}

.catalog-item {
	display: inline-block;
	width: 360px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0px;
}

.catalog-item-image {
	margin-bottom: 40px;
}


.main-content {
	width: 1100px;
	background-color: yellow;
}
